.aw-container {
    position: absolute;
    background-color: rgb(253, 251, 251);
    height: 100%;
    width: 120%;
    top: 0%;
    left: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: 1s;
}

.left-top-part {
    position: absolute;
    background-color: black;
    width: 60%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    border-bottom: solid 1px rgb(50, 50, 50);
    border-right: solid 1px rgb(50, 50, 50);
}

.image-1{
    position: absolute;
    left: 50%;
    height: 50%;
    width: 50%;
    background-image: url('../../public/images/aboutWinary.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.right-bottom-part {
    position: absolute;
    background-color: black;
    top: 50%;
    left: 27%;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.image-2{
    position: absolute;
    top: 50%;
    height: 50%;
    width: 27%;
    background-image: url('../../public/images/wineOfAWcomponent.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-right: solid 1px rgb(50, 50, 50);
}