@import url('https://fonts.googleapis.com/css?family=Diphylleia');

.login-container {
    background-color: rgba(white, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    left: 82%;
    position: absolute;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.lg-con {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    height: 500px;
    width: 60%;
    color: black;
   
}

.log-inputs {
    color: rgb(0, 0, 0);
    background-color: rgba(196, 196, 196, 0.651);
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 250px;
    padding: 5px;
    outline: none;
    font-family: 'Diphylleia';
}

.log-inputs:focus {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.log-inputs::placeholder {
    color: rgb(0, 0, 0);
    text-align: start;
}

.registred-label {
    color: rgb(0, 0, 0);
    font-size: 17px;
    margin-bottom: 200px;   
    margin-left: 150px;
}

.user-label {
    font-size: 15px;
}

.pw-label {
    font-size: 15px;
}

.div-butt-in {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-create-acc {
    color: rgb(0, 0, 0);
}

.button-in {
    background-color: transparent;
    width: 150px;
    transition-duration: 0.8s;
    border: none;
    border-color: rgb(56, 0, 52);
    height: 40px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    margin-top: 40px;
}

.button-in:hover {
    background-color: beige;
    border-radius: 50px;
    color: black
}

.login-area {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.1s ease, max-height 0.1s ease;
}
  
.login-area.active {
    opacity: 1;
    max-height: 200px;
}