.container-cart-page {
    display: flex;
    justify-content: center;
}

.container-cart{
    background-image: url('../../public/images/showCartBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
}

.container-table {
    background-color: rgb(106, 40, 106, 0.5);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 730px;   
    margin-bottom: 50px ;
    margin-top: 50px;
}

.table-cart { 
    color: white;
    border: solid 2px;
    border-radius: 20px;
    width: 80%;
    height: 60%;
    border-collapse: separate;
    font-size: 20px;
}

 .table-cart td {
    border-top: solid 1px;
}

.info-cart-container {
    background-color: rgb(106, 40, 106, 0.5);
    text-align: center;
    border-radius: 40px;
    margin-top: 10px;
    width: 20%;
    height: 730px;
    margin-top: 50px;
    margin-left: 10px;
    color: white;

}

.del-button {
    background-color: transparent;
    border: none;
    color:rgb(73, 73, 252);
    font-size: 15px;
}

.del-button:hover{
    text-decoration: underline;
}

.nw-container {
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: block;
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 12%;
}