@import url('https://fonts.googleapis.com/css?family=Diphylleia');

.create-container {
    background-color: rgba(white, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    top: 43%;
    left: 87%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    height: 100%;
    width: 45%;
}

.cr-con {
    margin-right: 70px;
    margin-bottom: 150px;
}

.create-inputs {
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 5px;
    outline: none;
    font-family: 'Diphylleia';
}

.create-inputs:focus {
    border-bottom: 1px solid gray;
}

.create-inputs::placeholder {
    color: rgb(255, 255, 255);
    text-align: start;
}

.registred-label {
    color: rgb(255, 255, 255);
    font-size: 17px;
    margin-bottom: 200px;   
    margin-left: 150px;
}

.user-label {
    font-size: 15px;
}

.mail-label {
    font-size: 15px;
}

.age-label {
    font-size: 15px;
}

.age-input {
    margin-top: 50px;
}

.pw-label {
    font-size: 15px;
}

.pw-input {
    margin-top: 50px;
}

.div-butt-create {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-create {
    background-color: transparent;
    width: 150px;
    transition-duration: 0.8s;
    border: none;
    border-color: rgb(56, 0, 52);
    height: 40px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-top: 40px;
}

.button-create:hover {
    background-color: beige;
    border-radius: 50px;
    color: black
}

.signin-area {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.1s ease, max-height 0.1s ease;
}
  
.signin-area.active {
    opacity: 1;
    max-height: 200px;
}